* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Work Sans", sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  min-height: 300px;
  overflow: auto;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.btn {
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 0;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #f1f1f5;
  background-color: #17ad44;
  font-weight: 500;
  font-size: 1rem;
}

.btn-block {
  width: 100%;
  margin: 1rem 0;
}

.error {
  color: tomato;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #221f1f;
  font-size: 1.2rem;
}

.h1 {
  margin: 1rem;
}

.footer {
  margin-top: auto;
  background-color: #f1f1f5;
  padding: 1rem 2rem;
}
